<!DOCTYPE html>
<html lang="en">

<head>
    <title>Etherflow</title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+Syriac+Eastern:100,200,300,regular,500,600,700,800,900" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=Noto+Sans+Syriac+Eastern:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />

    <link type="image/x-icon" href="/static/images/eth_icon.png" rel="shortcut icon">
    <link type="Image/x-icon" href="/static/images/eth_icon.png" rel="icon">

    <link rel="stylesheet" type="text/css" href="/static/css/zeroing.css">

    <link rel="stylesheet" type="text/css" href="/static/css/sections.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>


    <div class="wrapper" id="wrp">

        <div class="topnav" id="top_navbar">
            <a href="" class="active">Etherflow<img class="eth_icon" src="/static/images/eth_icon.png"></a>
            <a href="#about_us">About us</a>
            <a href="#manifesto">Manifesto</a>
            <a href="#team">Our team</a>
            <a href="#faq" class="FAQ">FAQs</a>
            <button id="connectButton" class="UserActionButton">Join</button>
            <button id = "profileButton" class="UserActionButton">My profile</button>
            <div id="profileModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Edit Profile</h2>
                    <form id="profileForm">
                        <label for="nameInput">Name:</label>
                        <input type="text" id="nameInput" name="name">
                        <label for="avatarInput">Avatar URL:</label>
                        <input type="text" id="avatarInput" name="avatar">
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
            <a href="javasript:void(0);" class="icon" onclick="processMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>



        <div class="section" id="section">

            <div class="darkness"></div>
    </div>
    <script src="/static/js/profile.js"></script>
    <script src="/static/js/authorization.js"></script>
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/vanta.net.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/animation.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" defer></script>

</body>

